<?xml version='1.0' encoding='utf-8'?>
<robot name="leju_claw_right">
  <link name="r_twofinger_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_twofinger_base.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="2.047e-06 -0.015784929 -0.055324071" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.0008224765773279827" iyy="0.000729450125981827" izz="0.0007035417828825443" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_twofinger_base.STL" />
      </geometry>
    </collision>
  </link>
  <link name="r_f_bar_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_bar_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.005659184 0.000350001 0.003187673" rpy="0 0 0" />
      <mass value="0.003" />
      <inertia ixx="1.1954527103198622e-07" iyy="1.285334242060815e-07" izz="1.5863316034065986e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_f_bar_1_joint" type="revolute">
    <origin xyz="0.0125 0 -0.063137" rpy="0 0 0" />
    <parent link="r_twofinger_base" />
    <child link="r_f_bar_1" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_f_bar_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_bar_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.008837143 0.000350001 -0.009142197" rpy="0 0 0" />
      <mass value="0.005" />
      <inertia ixx="3.943710453535234e-07" iyy="5.364931776526725e-07" izz="3.915304775767567e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_f_bar_2" type="fixed">
    <origin xyz="0.011329 0 0.0063767" rpy="0 0 0" />
    <parent link="r_f_bar_1" />
    <child link="r_f_bar_2" />
  </joint>
  <link name="r_f_bar_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_bar_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.00369879 2e-09 -0.023650148" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="2.8812997510572763e-06" iyy="2.786346469169211e-06" izz="5.717133549762798e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_f_bar_3_joint" type="revolute">
    <origin xyz="0.016204 0 -0.014934" rpy="0 0 0" />
    <parent link="r_f_bar_2" />
    <child link="r_f_bar_3" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_f_finger">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_finger.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.013930744 0.000150001 -0.032518144" rpy="0 0 0" />
      <mass value="0.04" />
      <inertia ixx="2.0074562725927977e-05" iyy="2.205569829804212e-05" izz="6.592402574770211e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_finger_joint" type="fixed">
    <origin xyz="-0.0081591 0 -0.047301" rpy="0 0 0" />
    <parent link="r_f_bar_3" />
    <child link="r_f_finger" />
  </joint>
  <link name="r_f_bar_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_bar_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.001327822 0.0 -0.020990088" rpy="0 0 0" />
      <mass value="0.025" />
      <inertia ixx="1.1116758980079853e-05" iyy="9.633924522734195e-06" izz="2.599207430086682e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_f_bar_4_joint" type="revolute">
    <origin xyz="0.02 0 -0.09" rpy="0 0 0" />
    <parent link="r_twofinger_base" />
    <child link="r_f_bar_4" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_b_bar_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_bar_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.005657078 0.00035 0.003188348" rpy="0 0 0" />
      <mass value="0.003" />
      <inertia ixx="1.1953632930139968e-07" iyy="1.2856290968958e-07" izz="1.5867158755474487e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_b_bar_1_joint" type="revolute">
    <origin xyz="-0.0125 0 -0.063137" rpy="0 0 0" />
    <parent link="r_twofinger_base" />
    <child link="r_b_bar_1" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_b_bar_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_bar_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.008837142 0.00035 -0.009142185" rpy="0 0 0" />
      <mass value="0.005" />
      <inertia ixx="3.9437085778419045e-07" iyy="5.364931766622305e-07" izz="3.915306641556476e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_b_bar_2_joint" type="fixed">
    <origin xyz="-0.011329 0 0.0063767" rpy="0 0 0" />
    <parent link="r_b_bar_1" />
    <child link="r_b_bar_2" />
  </joint>
  <link name="r_b_bar_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_bar_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.003698779 0.0 -0.023650147" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="2.8812999227161886e-06" iyy="2.7863462207846564e-06" izz="5.717129349328122e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_b_bar_3_joint" type="revolute">
    <origin xyz="-0.016204 0 -0.014934" rpy="0 0 0" />
    <parent link="r_b_bar_2" />
    <child link="r_b_bar_3" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_b_finger">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_finger.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.013930736 0.000340283 -0.028139804" rpy="0 0 0" />
      <mass value="0.04" />
      <inertia ixx="2.4659633172914543e-05" iyy="2.6573557113340267e-05" izz="6.659608417401737e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_b_finger_joint" type="fixed">
    <origin xyz="0.0081591 0 -0.047301" rpy="0 0 0" />
    <parent link="r_b_bar_3" />
    <child link="r_b_finger" />
  </joint>
  <link name="r_b_bar_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_bar_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.001333231 0.0 -0.020975078" rpy="0 0 0" />
      <mass value="0.025" />
      <inertia ixx="1.1125016762567198e-05" iyy="9.642920664147045e-06" izz="2.599945789012187e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_b_bar_4_joint" type="revolute">
    <origin xyz="-0.02 0 -0.09" rpy="0 0 0" />
    <parent link="r_twofinger_base" />
    <child link="r_b_bar_4" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_d405_camera_connect">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_d405_camera_connect.STL" />
      </geometry>
      <material name="">
        <color rgba="0.431372549019608 1 0.403921568627451 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.0005 6.243e-06 1.865e-06" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.663093087088664e-08" iyy="1e-08" izz="1e-08" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_d405_camera_connect_joint" type="fixed">
    <origin xyz="0 -0.056283 -0.068857" rpy="-3.1416 1.0472 1.5708" />
    <parent link="r_twofinger_base" />
    <child link="r_d405_camera_connect" />
  </joint>
  <link name="r_d405_camera_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_d405_camera_base.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.941176470588235 0.67843137254902 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.003165 -0.002320201 0.021" rpy="0 0 0" />
      <mass value="0.072" />
      <inertia ixx="2.3736900960770847e-05" iyy="1.376628491871378e-05" izz="1.6335186735645754e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_d405_camera_base_joint" type="fixed">
    <origin xyz="0.00835 0 -0.021" rpy="0 0 0" />
    <parent link="r_d405_camera_connect" />
    <child link="r_d405_camera_base" />
  </joint>
  <link name="r_d405_camera">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_d405_camera.STL" />
      </geometry>
      <material name="">
        <color rgba="0.705882352941176 1 0.654901960784314 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.0 2.563e-06 0.0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-08" iyy="1e-08" izz="1e-08" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_camera_joint" type="fixed">
    <origin xyz="0.01085 -0.009 0.021" rpy="0 0 0" />
    <parent link="r_d405_camera_base" />
    <child link="r_d405_camera" />
  </joint>
</robot>