<?xml version='1.0' encoding='utf-8'?>
<robot name="leju_claw_right">
  <link name="r_twofinger_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_twofinger_base.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="2.047e-06 -0.015784929 -0.055324071" rpy="0 0 0" />
      <mass value="0.6756756756756755" />
      <inertia ixx="0.0011114548342270034" iyy="0.0009857434134889554" izz="0.0009507321390304651" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_twofinger_base.STL" />
      </geometry>
    </collision>
  </link>
  <link name="r_f_bar_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_bar_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.005659184 0.000350001 0.003187673" rpy="0 0 0" />
      <mass value="0.004054054054054053" />
      <inertia ixx="1.6154766355673811e-07" iyy="1.736938164947047e-07" izz="2.1436913559548626e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_f_bar_1_joint" type="revolute">
    <origin xyz="0.0125 0 -0.063137" rpy="0 0 0" />
    <parent link="r_twofinger_base" />
    <child link="r_f_bar_1" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_f_bar_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_bar_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.008837143 0.000350001 -0.009142197" rpy="0 0 0" />
      <mass value="0.006756756756756755" />
      <inertia ixx="5.329338450723289e-07" iyy="7.249907806117195e-07" izz="5.2909523996859e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_f_bar_2" type="fixed">
    <origin xyz="0.011329 0 0.0063767" rpy="0 0 0" />
    <parent link="r_f_bar_1" />
    <child link="r_f_bar_2" />
  </joint>
  <link name="r_f_bar_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_bar_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.00369879 2e-09 -0.023650148" rpy="0 0 0" />
      <mass value="0.01351351351351351" />
      <inertia ixx="3.8936483122395615e-06" iyy="3.765333066444879e-06" izz="7.725856148328105e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_f_bar_3_joint" type="revolute">
    <origin xyz="0.016204 0 -0.014934" rpy="0 0 0" />
    <parent link="r_f_bar_2" />
    <child link="r_f_bar_3" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_f_finger">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_finger.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.013930744 0.000150001 -0.032518144" rpy="0 0 0" />
      <mass value="0.05405405405405404" />
      <inertia ixx="2.7127787467470232e-05" iyy="2.9804997700056914e-05" izz="8.908652128067851e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_finger_joint" type="fixed">
    <origin xyz="-0.0081591 0 -0.047301" rpy="0 0 0" />
    <parent link="r_f_bar_3" />
    <child link="r_f_finger" />
  </joint>
  <link name="r_f_bar_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_f_bar_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.001327822 0.0 -0.020990088" rpy="0 0 0" />
      <mass value="0.03378378378378378" />
      <inertia ixx="1.5022647270378176e-05" iyy="1.3018816922613774e-05" izz="3.51244247309011e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_f_bar_4_joint" type="revolute">
    <origin xyz="0.02 0 -0.09" rpy="0 0 0" />
    <parent link="r_twofinger_base" />
    <child link="r_f_bar_4" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_b_bar_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_bar_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.005657078 0.00035 0.003188348" rpy="0 0 0" />
      <mass value="0.004054054054054053" />
      <inertia ixx="1.6153558013702657e-07" iyy="1.7373366174267566e-07" izz="2.144210642631687e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_b_bar_1_joint" type="revolute">
    <origin xyz="-0.0125 0 -0.063137" rpy="0 0 0" />
    <parent link="r_twofinger_base" />
    <child link="r_b_bar_1" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_b_bar_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_bar_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.008837142 0.00035 -0.009142185" rpy="0 0 0" />
      <mass value="0.006756756756756755" />
      <inertia ixx="5.329335916002573e-07" iyy="7.249907792732842e-07" izz="5.290954921022264e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_b_bar_2_joint" type="fixed">
    <origin xyz="-0.011329 0 0.0063767" rpy="0 0 0" />
    <parent link="r_b_bar_1" />
    <child link="r_b_bar_2" />
  </joint>
  <link name="r_b_bar_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_bar_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.003698779 0.0 -0.023650147" rpy="0 0 0" />
      <mass value="0.01351351351351351" />
      <inertia ixx="3.893648544211065e-06" iyy="3.7653327307900756e-06" izz="7.725850472065028e-07" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_b_bar_3_joint" type="revolute">
    <origin xyz="-0.016204 0 -0.014934" rpy="0 0 0" />
    <parent link="r_b_bar_2" />
    <child link="r_b_bar_3" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_b_finger">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_finger.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.013930736 0.000340283 -0.028139804" rpy="0 0 0" />
      <mass value="0.05405405405405404" />
      <inertia ixx="3.332382861204667e-05" iyy="3.591021231532468e-05" izz="8.999470834326669e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_b_finger_joint" type="fixed">
    <origin xyz="0.0081591 0 -0.047301" rpy="0 0 0" />
    <parent link="r_b_bar_3" />
    <child link="r_b_finger" />
  </joint>
  <link name="r_b_bar_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_b_bar_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.001333231 0.0 -0.020975078" rpy="0 0 0" />
      <mass value="0.03378378378378378" />
      <inertia ixx="1.5033806435901616e-05" iyy="1.3030973870468977e-05" izz="3.5134402554218738e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_b_bar_4_joint" type="revolute">
    <origin xyz="-0.02 0 -0.09" rpy="0 0 0" />
    <parent link="r_twofinger_base" />
    <child link="r_b_bar_4" />
    <axis xyz="0 1 0" />
    <limit lower="-0.698" upper="0.698" effort="5" velocity="5" />
  </joint>
  <link name="r_d405_camera_connect">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_d405_camera_connect.STL" />
      </geometry>
      <material name="">
        <color rgba="0.431372549019608 1 0.403921568627451 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.0005 6.243e-06 1.865e-06" rpy="0 0 0" />
      <mass value="0.0013513513513513512" />
      <inertia ixx="2.247423090660356e-08" iyy="1.351351351351351e-08" izz="1.351351351351351e-08" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_d405_camera_connect_joint" type="fixed">
    <origin xyz="0 -0.056283 -0.068857" rpy="-3.1416 1.0472 1.5708" />
    <parent link="r_twofinger_base" />
    <child link="r_d405_camera_connect" />
  </joint>
  <link name="r_d405_camera_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_d405_camera_base.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.941176470588235 0.67843137254902 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.003165 -0.002320201 0.021" rpy="0 0 0" />
      <mass value="0.09729729729729727" />
      <inertia ixx="3.2076893190230866e-05" iyy="1.860308772799159e-05" izz="2.2074576669791555e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_d405_camera_base_joint" type="fixed">
    <origin xyz="0.00835 0 -0.021" rpy="0 0 0" />
    <parent link="r_d405_camera_connect" />
    <child link="r_d405_camera_base" />
  </joint>
  <link name="r_d405_camera">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_d405_camera.STL" />
      </geometry>
      <material name="">
        <color rgba="0.705882352941176 1 0.654901960784314 1" />
      </material>
    </visual>
    <inertial>
      <origin xyz="0.0 2.563e-06 0.0" rpy="0 0 0" />
      <mass value="0.0013513513513513512" />
      <inertia ixx="1.351351351351351e-08" iyy="1.351351351351351e-08" izz="1.351351351351351e-08" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="r_camera_joint" type="fixed">
    <origin xyz="0.01085 -0.009 0.021" rpy="0 0 0" />
    <parent link="r_d405_camera_base" />
    <child link="r_d405_camera" />
  </joint>
</robot>